@{
    ViewBag.Title = "Главная страница";
}
<style type="text/css">
    .bgimg {
        background-image: url('../images/divbg.png');
    }
</style>

<br />
<div class="jumbotron" style="background-color:#C9F76F;">
    <h1>КАФЕДРА</h1>
    <p class="lead">Факультет инноваионных технологии КазНУ имени аль-Фараби является новым факультетом. Но он являтся наследницей факультета с еще больщей историей </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начало работы</h2>
        <p>
            Данная система позволяет автоматизировать работу кафедры.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Прочитать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Курсы</h2>
        <p>На равне с с обязательными курсами вы можете оставить заявку на другие элективные курсы предлагаемые нашей кафедрой</p>
        <p><a class="btn btn-default" href="/Home/ElectiveCourses">Прочитать большеe &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Обьявление</h2>
        <p>В данном разделе вы можете ознакомится со всеми обьявлениями от заведующего кафедры</p>
        <p><a class="btn btn-default" href="/Notification/Notifications">Прочитать больше &raquo;</a></p>
    </div>
</div>